 <!DOCTYPE html>
<html lang="en">

<head>
    <style>
        th{
            text-align:left;
        }
    </style>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
 <title>Document</title>
</head>

<u>
    <h1 align="center">Student Registration Form Using Table in HTML</h1>
</u>
    <form method="post">
        <table height="900px" lenght="100px">
            <tr>
                <th><label>First Name</label></th>
                <td><input type="text" placeholder="Ghanendra">(Max 50 Characters Allowed)</td>
            </tr>

            <tr>
                <th>Last Name</th>
                <td><input type="text" placeholder="Yadhav">(Max 50 Charecters Allowed)</td>

            </tr>
            <tr>
                <th><label>E-mail ID</label></th>
                <td><input type="email" placeholder="yghanendra@gmail.com"></td>
            </tr>
            <tr>
                <th><label>Mobile Number</label></th>
                <td><input type="number" placeholder="7642xxxxxx">(10 Digits Allowed)</td>
            </tr>
            <tr>
                <th><label>Gender</label></th>
                <td><input type="radio" name="gender">Female
                <input type="radio" name="gender">Male
                <input type="radio" name="gender">Other</td>

            </tr>
            <tr>
                <th><label>Date Of Birth(DOB)</label></th>
                <td><input type="date"></td>
            </tr>
            <tr>
                <th><label>Address</label></th>
                <td><textarea name="address" rows="6" cols="20"></textarea></td>
            </tr>
            <tr>
                <th><label>City</label></th>
                <td><input type="text" placeholder="Bangalore">(Max 50 Charecters Allowed)</td>
            </tr>
            <tr>
                <th><label>Pin Code</label></th>
                <td><input type="number" placeholder="560059">(Max 6 Numbers Allowed)</td>
            </tr>
            <tr>
                <th><label>State</label></th>
                <td><select>
                    <option>--select state---</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Gujarat</option>
                    <option>Tamil Nadu</option>
                </select></td>
            </tr>
            <tr>
                <th><label>Country</label></th>
                <td><select>
                    <option>India</option>
                    <option>USA</option>
                    <option>Canada</option>
                </select></td>
            </tr>
            <tr>
                <th><label>Hobbies</label></th>
                <td><input type="radio">Drawing
                    <input type="radio">Singing
                    <input type="radio">Dancing
                    <input type="radio">Sketching
                    <br>
                    <input type="radio">others<input type="text" placeholder="Ex:Teaching">(Max 50 Characters)</td>
            </tr>
            <tr>
                <th><label>Qualification</label></th>
                <td>
                    <input type="radio" name="Qualification">High School(10th)
                    <br>
                    <input type="radio" name="Qualification">Higher School(12th)
                    <br>
                    <input type="radio" name="Qualification">Graduation(Bachelors)
                    <br>
                    <input type="radio" name="Qualification">Post Graduation(Masters)
                    <br>
                    <input type="radio" name="Qualification">Phd
                </td>

            </tr>

            <tr>
                <th><label>Courses Applied For:</label></th>
                <td>
                    <input type="radio">BCA(Bachelor of Computer Application)<br>
                    <input type="radio">B.Com<br>
                    <input type="radio">B.Sc
                    <br>
                    <input type="radio">Post Graduation(Masters)
                    <br>
                    <input type="radio">Phd
                </td>

            </tr>



        </table>
        <input type="SUBMIT">
        <input type="RESET">

    </form>

</body>

</html>